{% extends "layout/basic.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>
            <a href="{% url 'authapp:logout' %}">
                Выйти: {{ user.username }}
            </a>
        </h3>
    {% else %}
        <a href="/admin/login/">
            Login
        </a>
    {% endif %}

    {% for bb in bbs %}
        <div>
{#            <h2>{{ bb.title }}</h2>#}
            <h2>{{ bb.title_and_price }}</h2>
            <p>{{ bb.content }}</p>
            <p><a href="{{ bb.rubric.get_absolute_url }}">
                {{ bb.rubric.name }}</a></p>
            <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
        </div>
    {% endfor %}
{% endblock %}