{% extends "layout/basic.html" %}
{% load bootstrap4 %}

{% block title %}Добавление объявления{% endblock %}

{% block content %}
    <h2>Добавление объявления</h2>

    {% if form.is_multipart %}
        <form class="col-md-4" action="" method="post" enctype="multipart/form-data">
    {% else %}
        <form class="col-md-4" action="" method="post">
    {% endif %}
{#    <form action="{% url 'add_save' %}" method="post">#}
{#    <form method="post" class="col-md-4">#}
        {% csrf_token %}
        {# быстрый вариант #}
{#        {{ form.as_p }} {# <ul> {{ form.as_ul }} </ul>  #}#}

        {# расширенный вариант #}
{#        {% for hidden in form.hidden_fields %}#}
{#            {{ hidden }}#}
{#        {% endfor %}#}
{##}
{#        {% if form.non_field_errors %}#}
{#            <ul>#}
{#                {% for error in form.non_field_errors %}#}
{#                    <li><em>{{ error|escape }}</em></li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endif %}#}
{##}
{#        {% for field in form.visible_fields %}#}
{#            {% if field.errors %}#}
{#                <ul>#}
{#                    {% for error in field.errors %}#}
{#                        <li><em>{{ error|escape }}</em></li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            {% endif %}#}
{#            <p>{{ field.label_tag }}<br>{{ field }}<br>#}
{#            {{ field.help_text }}</p>#}
{#        {% endfor %}#}

{#        <input type="submit" value="Добавить">#}

        {%  bootstrap_form form layout='inline' size='small' %}
        {% buttons submit='Добавить' %}{% endbuttons %}
    </form>
{% endblock %}
