{% extends "layout/basic.html" %}
{% load bootstrap4 %}

{% block content %}

{#    <p>#}
{#        {% if page.has_previous %}#}
{#            <a href="?page={{ page.previous_page_number }}">&lt;</a>#}
{#            &nbsp;&nbsp; | &nbsp;&nbsp;#}
{#        {% endif %}#}
{#        Страница: {{ page.number }}#}
{#        {% if page.has_next %}#}
{#            &nbsp;&nbsp; | &nbsp;&nbsp;#}
{#            <a href="?page={{ page.next_page_number }}">&gt;</a>#}
{#        {% endif %}#}
{#    </p>#}

    <p>
        {% if page.has_previous %}
            <a href="{% url "page" page.previous_page_number %}">&#9664;</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;
        {% endif %}
        Страница: {{ page.number }}
        {% if page.has_next %}
            &nbsp;&nbsp; | &nbsp;&nbsp;
            <a href="{% url "page" page.next_page_number %}">&#9654;</a>
        {% endif %}
    </p>

{#    {% bootstrap_pagination page size='small' %}#}

    <p>Количество записей: {{ page.paginator.num_pages }}</p>

    <p>{{ block.super }}</p>

    {% for bb in bbs %}
        <div class="{% cycle 'red' 'green' 'blue' %}">  {# lesson_22_hw #}
{#            <h2>{{ bb.title }}</h2>#}
            <h2>
{#                <a href="{% url 'read' bb.pk %}">#}
                <a href="{% url 'detail' pk=bb.pk %}">
                    {{ bb.title_and_price|lower|title }}
                </a>
            </h2>
{#            <p>{% firstof bb.content|lower|capfirst 'Контента нет' %}</p>  {# lesson_22_hw #}#}
            <p>Описание: {{ bb.content.rendered|lower|capfirst }}</p>  {# lesson_34 #}
            <p><a href="{{ bb.rubric.get_absolute_url }}">
                {{ bb.rubric.name|upper }}</a></p>
            <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
        </div>
    {% endfor %}

    <p>
        {% for d in date_list %}
        {{ d.year }}
        {% endfor %}
    </p>

{% endblock %}