{% extends "layout/basic.html" %}

{% block content %}

{#    <p>#}
{#        {% if page.has_previous %}#}
{#            <a href="?page={{ page.previous_page_number }}">&lt;</a>#}
{#            &nbsp;&nbsp; | &nbsp;&nbsp;#}
{#        {% endif %}#}
{#        Страница: {{ page.number }}#}
{#        {% if page.has_next %}#}
{#            &nbsp;&nbsp; | &nbsp;&nbsp;#}
{#            <a href="?page={{ page.next_page_number }}">&gt;</a>#}
{#        {% endif %}#}
{#    </p>#}

    <p>
        {% if page.has_previous %}
            <a href="{% url "page" page.previous_page_number %}">&#9664;</a>
            &nbsp;&nbsp; | &nbsp;&nbsp;
        {% endif %}
        Страница: {{ page.number }}
        {% if page.has_next %}
            &nbsp;&nbsp; | &nbsp;&nbsp;
            <a href="{% url "page" page.next_page_number %}">&#9654;</a>
        {% endif %}
    </p>

    <p>Количество записей: {{ page.paginator.num_pages }}</p>

    <p>{{ block.super }}</p>

    {% if user.is_authenticated %}
        <h3>
            <a href="{% url 'authapp:logout' %}">
                Logout: {{ user.username }}
            </a>
        </h3>
    {% else %}
        <a href="{% url 'authapp:login' %}">
            Login
        </a>
    {% endif %}

    {% for bb in bbs %}
        <div>
{#            <h2>{{ bb.title }}</h2>#}
            <h2>
{#                <a href="{% url 'read' bb.pk %}">#}
                <a href="{% url 'detail' pk=bb.pk %}">
                    {{ bb.title_and_price }}
                </a>
            </h2>
            <p>{{ bb.content }}</p>
            <p><a href="{{ bb.rubric.get_absolute_url }}">
                {{ bb.rubric.name }}</a></p>
            <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
        </div>
    {% endfor %}

    <p>
        {% for d in date_list %}
        {{ d.year }}
        {% endfor %}
    </p>

{% endblock %}