{% extends "layout/basic.html" %}

{% block title %}Вход{% endblock %}
{% block h1 %}Вход{% endblock %}

{% block content %}
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Введите ваш email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Мы никому не отдадим ваш email.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Введите ваш пароль</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Проверить меня</label>
        </div>
        <button id="login" type="submit" class="btn btn-primary">Подтвердить</button>
        <p id="login_confirmed">Вы вошли</p>
    </form>
{% endblock %}