{% load count_bbs %}

<nav>
    <a href="{% url 'index' %}">Главная</a>

    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <a href="{% url 'rubrics' %}">Изменить рубрики</a>
        {% endif %}
    {% endif %}

    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'add' %}">Добавить</a>
    <a href="{% url 'add_icecream' %}">Добавить мороженое</a>  {# lesson_25_hw #}
    {% for rubric in rubrics %}
{#        <a href="{% url 'by_rubric' rubric.pk %}">#}
        <a href="{{ rubric.get_absolute_url }}">
            {{ rubric.name }}{% if count_bb %}
                ({{ count_bb|count_bbs:rubric.pk }})
            {% endif %}
        </a>
    {% endfor %}
</nav>