{% load static %}
{% load count_bbs %}

<!DOCTYPE html>
<html lang="ru" xmlns="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} ::
        Доска объявлений</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'bboard/style.css' %}">
</head>
<body>
<header>
    <h1>{% block h1 %} Объявления {% endblock %}</h1>
</header>
<nav>
    <a href="{% url 'index' %}">Главная</a>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'add' %}">Добавить</a>
    {% for rubric in rubrics %}
{#        <a href="{% url 'by_rubric' rubric.pk %}">#}
        <a href="{{ rubric.get_absolute_url }}">
            {{ rubric.name }}{% if count_bb %}
                ({{ count_bb|count_bbs:rubric.pk }})
            {% endif %}
        </a>
    {% endfor %}
</nav>
<section>
    {% block content %}
        Контента нет
    {% endblock %}
</section>
</body>
<script src="{% static 'bboard/script.js' %}"></script>
</html>